.btnlogin{
    margin: 5000px auto;
}

.icon {
    display: inline-block;
    height: 40px;
    margin: 10 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    /* width: 25%; */
  }