<mat-toolbar color = "primary" class="mat-elevation-z6">
<span ><mat-icon class="icon">store</mat-icon> Online Shop</span>

<div class="spacer"></div>

<button mat-button routerLink="home"><mat-icon class="icon">home</mat-icon>Home</button>
<button mat-button routerLink="product-list"><mat-icon class="icon">shopping_bag</mat-icon>Product List</button>
<button mat-button routerLink="cart"><mat-icon class="icon">shopping_cart</mat-icon>Cart</button>
<button class="btnlogin" mat-raised-button color="warn" routerLink="login"><mat-icon class="icon">login</mat-icon>Login</button>

  </mat-toolbar>
  