<mat-toolbar color = "primary" class="mat-elevation-z6">
<span ><mat-icon class="icon">store</mat-icon> Online Shop</span>

<div class="spacer"></div>

<a mat-button routerLink="home"><mat-icon class="icon">home</mat-icon>Home</a>
<a mat-button routerLink="product-list"><mat-icon class="icon">shopping_bag</mat-icon>Product List</a>
<a mat-button routerLink="cart"><mat-icon class="icon">shopping_cart</mat-icon>Cart</a>
<a class="btnlogin" mat-raised-button color="warn" routerLink="login"><mat-icon class="icon">login</mat-icon>Login</a>

  </mat-toolbar>
  