<mat-card>
    <mat-card-content>
      <form  #authForm= "ngForm"  (ngSubmit) = "onSubmit(authForm)">
        <h2 ><mat-icon class="icon">person</mat-icon>Sign Up</h2>
        <mat-error *ngIf="">
          The username and password were not recognized
        </mat-error>
        <mat-form-field class="full-width-input">
          <input
           matInput placeholder="Email" 
           id="username"
           formControlName="username" 
           ngModel
           required
           userName
           >
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-heigh-input">
            <input  matInput type="password" placeholder="Password" formControlName="password" ngModel name="password" required>
        </mat-form-field>
        
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Confrim Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>

        
        <button class="signup"  type="submit"    (click)="onSwitchMode()" mat-raised-button color="warn">Sign up</button>

      </form>
    </mat-card-content>
  </mat-card>