<mat-card>
    <mat-card-content>
      <form  >
        <h2 ><mat-icon class="icon">person</mat-icon>Sign Up</h2>
        <mat-error *ngIf="">
          The username and password were not recognized
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-heigh-input">
            <input  matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Confrim Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>

        
        <button class="signup" mat-raised-button color="warn">Sign up</button>

      </form>
    </mat-card-content>
  </mat-card>