<mat-card class="example-card">
  <img mat-card-image src="https://www.asus.com/media/global/products/t4fNeygwPZ6EeO3p/P_setting_xxx_0_90_end_2000.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h2>Laptop Asus N580gd</h2>
    <p>
      Info: i7  12  1TB     4GB(1050)
      <br>
      Price:$1.952,22
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn" mat-button>Add To Cart</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card2">
  <img mat-card-image src="https://www.asus.com/media/global/products/t4fNeygwPZ6EeO3p/P_setting_xxx_0_90_end_2000.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h2>Laptop Asus N580gd</h2>
    <p>
      Info: i7  12  1TB     4GB(1050)
      <br>
      Price:$1.952,22
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn" mat-button>Add To Cart</button>
  </mat-card-actions>
</mat-card>



