.example-card {
  background-color: rgb(226, 28, 226);
  text-align: center;
  -moz-box-align: end;
  max-width: 250px;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.btn {
  background-color: rgb(31, 101, 230);
  color: rgb(6, 6, 7);
}
.example-card2{
  background-color: rgb(184, 129, 184);
  text-align: center;
  -moz-box-align: center;
  max-width: 250px;
  
  margin-left: auto;
  
}
.sa{
  display: flex;

}