mat-card {
    color: rgb(109, 6, 100);
    max-width: 400px;
    margin: 4em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }
  .signup{
    margin-left: 50px;
    }
    .icon{

    height: 30px;
    text-align: center;
    vertical-align: middle;
    }